<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775592199728-a8shrmai2h1j2j4ukh1kflmro8iqra76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775592199728-a8shrmai2h1j2j4ukh1kflmro8iqra76</string>
	<key>API_KEY</key>
	<string>AIzaSyA6_g4n6X_BDwtPq8Lw4yZeS8HqMLAr0Co</string>
	<key>GCM_SENDER_ID</key>
	<string>775592199728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fclarke.nesting</string>
	<key>PROJECT_ID</key>
	<string>nesting-7da6c</string>
	<key>STORAGE_BUCKET</key>
	<string>nesting-7da6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775592199728:ios:77dc0c20520e2cdbe88ff5</string>
</dict>
</plist>